@model List<Feature>

<div class="card">
    <div class="row">
        <div class="col-lg-12">
            <div class="d-flex justify-content-between my-4 px-4">
                <a class="btn btn-primary" asp-area="manage" asp-controller="dashboard" asp-action="index">Go back</a>
                <a class="btn btn-success" asp-area="manage" asp-controller="feature" asp-action="create">Create new feature</a>
            </div>
        </div>
    </div>
    <div class="card-body">
        <h4 class="card-title">Features</h4>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            Icon class
                        </th>
                        <th>
                            Header
                        </th>
                        <th>
                            Description
                        </th>
                        <th>
                            Edit
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Feature feature in Model)
                    {
                        <tr>
                            <td class="py-1">
                               <i class="@feature.Icon text-success" style="font-size: 2rem; margin-left: 2rem;"></i>
                            </td>
                            <td>
                                @feature.Header
                            </td>
                            <td>
                                @feature.Description
                            </td>
                            <td>
                                <a asp-area="manage" asp-controller="feature" asp-action="update" asp-route-id="@feature.Id" class="btn btn-warning text-white">Update</a>
                                <a asp-area="manage" asp-controller="feature" asp-action="delete" asp-route-id="@feature.Id" class="btn btn-danger text-white">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>