@model Feature

<div class="card">
                <div class="card-body">
                  <h4 class="card-title">Update feature</h4>
                  <form method="post" class="forms-sample">
                    <div class="form-group">
                      <label asp-for="@Model.Header">Header</label>
                      <input asp-for="@Model.Header" class="form-control" placeholder="First title">
                      <span class="text-danger" asp-validation-for="Header"></span>
                    </div>
                    <div class="form-group">
                      <label asp-for="@Model.Description">Description</label>
                      <input  asp-for="@Model.Description" class="form-control" placeholder="Description">
                      <span class="text-danger" asp-validation-for="Description"></span>
                    </div>
                    <div class="form-group">
                      <label asp-for="@Model.Icon">Icon</label>
                      <input  asp-for="@Model.Icon" class="form-control" placeholder="Redirect Url">
                      <span class="text-danger" asp-validation-for="Icon"></span>
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                    <a asp-area="manage" asp-controller="feature" asp-action="index" class="btn btn-light">Cancel</a>
                  </form>
                </div>
              </div>