@model Slider

<div class="card">
    <div class="row">
        <div class="col-lg-12">
            <div class="d-flex justify-content-between">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="d-flex justify-content-between my-4 px-4">
                            <a class="btn btn-primary" asp-area="manage" asp-controller="slider" asp-action="index">Go back</a>
                        </div>
                    </div>
                </div>
            <div class="d-flex justify-content-between my-4 px-4">
                
                <a asp-area="manage" asp-controller="slider" asp-action="update" asp-route-id="@Model.Id" class="btn text-white btn-warning mr-3">Update</a>
                <a asp-area="manage" asp-controller="slider" asp-action="delete" asp-route-id="@Model.Id" class="btn btn-danger text-white">Delete</a>
            </div>
            </div>
            
        </div>
    </div>

    <div class="card-body">
        <p><strong>First title</strong></p>
        <h4 class="card-title">@Model.Title1</h4>
        <p><strong>Second title</strong></p>
        <h4 class="card-title">@Model.Title2</h4>
        <p><strong>Description</strong></p>
        <h4 class="card-title">@Model.Description</h4>
        <p><strong>Redirect URL</strong></p>
        <h4 class="card-title">@Model.RedirectUrl</h4>
        <p><strong>Redirect URL text</strong></p>
        <h4 class="card-title">@Model.RedirectUrlText</h4>
        <p><strong>Order</strong></p>
        <h4 class="card-title">@Model.Order</h4>
        <p><strong>Image</strong></p>
        <img src="~/assets/uploads/sliderImages/@Model.Image" alt="image" />
    </div>
</div>